/* Klickbar knapp */
.button {
  padding: 10px 20px;
  font-size: 10px;
  cursor: pointer;
}

/* Ändra på språk knappar */
.LanguageIcon {
  width: 100px;
  height: auto;
  max-width: 100%;
  border: none;
  vertical-align: middle;
}
